
:root {
  --font-color:#E6E8E6;
  --main-color: #1F549F;
  --hl-color:#1F549F;
  --no-color:rgba(255, 68, 68, 1);
  --dark-color:rgba(18,22,25,0.55);
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: tangerine;
    margin:0px;
    background-color:var(--main-color);
}
.top{
  max-width: 100%;
  letter-spacing: 5px;
  font-size: 150%;
  display: flex;
  justify-content:space-between;
}

.top h1{
  font-weight:100%;
  color:var(--font-color);
  padding:0px 20px;
}

.gitlink{
  color:var(--font-color);
  padding:15px 20px;
  transition:0.5s;
}
.gitlink:hover{

}

li a{
  color:var(--font-color);
  font-weight: 100%;
  letter-spacing: 2px;
  text-decoration: none;
  background:var(--hl-color);
  padding:20px 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

li a:hover{
  background: var(--no-color);
}

.toggleNav{
  display: none;
}

  img{
    width:100%;
  }

  .wrapper{
    max-width: 1000px;
    margin:0 auto;
  }

  input{
    padding:10%;
    border:0;
  }

  .hero{
    text-align: center;
    background:var(--font-color);
    padding:30px;
    margin:5px 5px;
    color:var(--font-color);
    font-weight: 100%;
    box-shadow: 0px 0px 3px 3px var(--dark-color);
  }

  .flex-nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content:center
  }

  .flex-nav li{
    flex:1;
  }

  @media all and (max-width: 1000px){
    .flex-nav ul{
      flex-wrap: wrap;
    }

    .flex-nav li{
      flex:1 1  50%;
    }
  }

  @media all and (max-width:500px) {
  
  .flex-nav li {
    flex-basis:100%;
  }
  

  /* Turn on flexbox */
  .wrapper {
    display:flex;
    flex-direction:column;
  }

  /* Reorder items */
  .wrapper > * {
    order:999;
  }
  
  /* Nav */
  .flex-nav {
    order:1;
  }

  .toggleNav {
      display: block;
      color:var(--font-color);
      font-weight: 100%;
      letter-spacing: 2px;
      text-decoration: none;
      background:var(--hl-color);
      padding:20px 15px;
      width: 100%;
      text-align: center;
      transition: all 0.5s;
  }

  .flex-nav ul {
    display:flex;
    transition: all 1s;
  }
  .flex-nav ul.open {
      animation: new-item-animation .3s linear forwards;
  }

  .menu-item{
    display:none;
  }
  .menu-item.open{
    display:inline-block;
    opacity: 0;
    animation: new-item-animation .3s linear forwards;
}
  
  @keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-100px);
}
 
    to {
        opacity: 1;
        transform : translateY(0);
    }
}
  /* Header */
  .top {
    order:2;
  }

  /* Details */
  .details {
    order:3;
  }

  /* Sign Up */
  .signup {
    order:4;
  }

}