
:root {
  --main-color: #ffffff;
  --hl-color:#000000;
  --dark-color:rgba(18,22,25,0.55);
}


html {
  box-sizing: border-box;
  font-family: serif;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: serif;
    margin:0px;
    background-color:var(--main-color);
}
nav{
  align-items:center;
  background-color:var(--hl-color);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.36), 0 1px 2px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  top: 0;
  width: 100%;
}

.title img{
  height:44px;
}

.gitlink{
  color:var(--font-color);
  color: #fff;
  transition:0.5s;
}
.gitlink:hover{
  color:var(--hl-color);
  color: #d8d8d8;
  text-decoration: none;
}

.flex-nav{
  margin:40px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.menu-item{
  color:var(--font-color);
  font-weight: 100%;
  letter-spacing: 2px;
  text-decoration: none;
  background:var(--dark-color);
  padding:6px 10px;
  border-radius:20px;
  margin:0 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.36), 0 1px 2px rgba(0, 0, 0, 0.35);
}

#item-1{background-color: #A84646}
#item-2{background-color: #2BE588}
#item-3{background-color: #60B2E5}

li.menu-item:hover{
  background: var(--hl-color);
}

li.menu-item.open{
  background: var(--hl-color);
}

.toggleNav{
  display: none;
}

.controls-container{
  position: fixed; 
  bottom: 0;
  display:flex;
  justify-content: center;
  width: 100%;
  margin:0 auto;
}
.controls{
  position: fixed; 
  bottom: 0; 
  background-color:var(--main-color);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  opacity: 0;
  transition:1s;
}

.controls.visible{
  opacity:1;
}
.controls button{
  padding:10px 20px;
  border:none;
  background-color:var(--main-color);
  color:var(--font-color);
}
.snappy{
    width:100%;
}

.wrapper{
    vertical-align: top;
    max-width: calc(100%-20px);
    margin:0 auto;
    margin-top:10px;
}
.downloads{
    color:#ffffff;
}
.hero{
    text-align: center;
    background:var(--hl-color);
    padding:10px;
    margin:5px 5px;
    color:var(--font-color);
    font-weight: 100%;
    box-shadow: 0px 0px 3px 3px var(--dark-color);
}

.flex-nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content:center
}

.flex-nav li{
    width:150px;
    padding:8px 8px;
}

  @media all and (max-width: 1000px){
    .flex-nav ul{
      flex-wrap: wrap;
    }

    .flex-nav li{
      flex:1 1  50%;
    }
  }

  @media all and (max-width:500px) {
  
  .flex-nav li {
    flex-basis:100%;
  }
  

  /* Turn on flexbox */
  .wrapper {
    display:flex;
    flex-direction:column;
  }

  /* Reorder items */
  .wrapper > * {
    order:999;
  }
  
  /* Nav */
  .flex-nav {
    order:1;
  }

  .toggleNav {
      display: block;
      color:var(--font-color);
      font-weight: 100%;
      letter-spacing: 2px;
      text-decoration: none;
      background:var(--main-color);
      padding:20px 15px;
      width: 100%;
      text-align: center;
      transition: all 0.5s;
  }

  .flex-nav ul {
    display:flex;
    transition: all 1s;
  }
  .flex-nav ul.open {
      animation: new-item-animation .3s linear forwards;
  }

  .menu-item{
    display:none;
    
  }
  .menu-item.open{
    display:inline-block;
    opacity: 0;
    animation: new-item-animation .3s linear forwards;
}
  
  @keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-100px);
}
 
    to {
        opacity: 1;
        transform : translateY(0);
    }
  }

}

/* INPUT TEXT STYLINGS */
.group 			  { 
  position:relative; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}